<div id="home-page">
  {% include 'sidebar-general', mobile: false, hide_sections: 'vibrators' %}
  <div class="twelve columns omega">

    <ul class="show-for-tablet mobile-fblock-grid-3 fblock-grid__tight">
      <li><img src="{{ '../assets/images/free-shipping.jpg' | asset_url }}"></li>
      <li><img src="{{ '../assets/images/customer-reviews.jpg' | asset_url }}"></li>
      <li><img src="{{ '../assets/images/customer-care.jpg' | asset_url }}"></li>
    </ul>

    <div class="hide-for-tablet column">
      <img src="{{ '../assets/images/mobile-banner-free-shipping-sex-toys.gif' | asset_url }}">
    </div>

    <div class="show-for-tablet column columns__no-gutter">
      <a href="https://www.simplipleasure.com/collections/best-selling-sex-toys">
        <img src="{{ '../assets/images/main-banner-sex-toys.jpg' | asset_url }}" alt="Best Selling Adult Toys">
      </a>
    </div>
    <div class="hide-for-tablet column">
      <a href="https://www.simplipleasure.com/collections/best-selling-sex-toys" title="Best Selling Sex Toys" >
        <img src="{{ '../assets/images/main-banner-sex-toys-mobile.jpg' | asset_url }}" alt="Best Selling Adult Sex Toys">
      </a>
    </div>

    {% include 'best-sellers__women-men-couples-grid' %}

    <hr class="home">

    {% include 'sidebar-general', mobile: true, hide_sections: "sex-essentials" %}

    <hr class="home hide-for-tablet">

    <h1  class="newhome">Welcome to Simpli Pleasure - Your Trusted Source for Adult Sex Toys</h1>

    <p> At Simpli Pleasure we carefully select top quality adult toys at the best prices,
         bringing you the greatest choice of sex toys online.
         But don't take our word for it, with over 3,000 reviews and countless happy customers,
         we're 100% confident you'll love your choices. Browse one of our popular categories below and pick your self a new best friend!
    </p>

    <ul class="mobile-fblock-grid-2 tablet-fblock-grid-3 fblock-grid__noclear">
      <li>
        <a href="/collections/vibrators">
          <img class="lazy" data-src="{{ '../assets/images/vibrators.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="/collections/anal-sex-toys">
          <img class="lazy" data-src="{{ '../assets/images/anal-sex-toys.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="/collections/dildos">
          <img class="lazy" data-src="{{ '../assets/images/dildos.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="/collections/strap-ons-harnesses">
          <img class="lazy" data-src="{{ '../assets/images/strap-ons.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="/collections/cock-rings">
          <img class="lazy" data-src="{{ '../assets/images/cock-rings.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="/collections/butt-plugs">
          <img class="lazy" data-src="{{ '../assets/images/butt-plugs.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="/collections/bondage-gear">
          <img class="lazy" data-src="{{ '../assets/images/bondage.jpg' | asset_url }}">
        </a>
      </li>
      <li class="show-for-tablet">
        <a href="/collections/new-sex-toys">
          <img class="lazy" data-src="{{ '../assets/images/new-sex-toys.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="http://www.simplipleasure.com/collections/sale-50">
          <img class="lazy" data-src="{{ '../assets/images/half-price-sale.jpg' | asset_url }}">
        </a>
      </li>
    </ul>

    <hr class="home">
    <h2 class="newhome">Browse Our Best Sellers From Our Major Sex Toy Categories...</h2>
    <p>View our best sellers from every category.. these guaranteed winners are proven orgasm inducers! Sorted by real purchases from real customers.</p>

    <ul class="mobile-fblock-grid-2 tablet-fblock-grid-3">
      <li>
        <a href="https://www.simplipleasure.com/collections/best-selling-sex-toys-for-women">
          <img class="lazy" data-src="{{ '../assets/images/best-selling-toys-for-women.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="https://www.simplipleasure.com/collections/best-selling-sex-toys-for-men">
          <img class="lazy" data-src="{{ '../assets/images/best-selling-toys-for-men.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="https://www.simplipleasure.com/collections/best-selling-sex-toys-for-couples">
          <img class="lazy" data-src="{{ '../assets/images/best-selling-toys-for-couples.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="https://www.simplipleasure.com/collections/best-selling-vibes-2016-customer-favorites">
          <img class="lazy" data-src="{{ '../assets/images/best-selling-toys-vibrators.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="https://www.simplipleasure.com/collections/best-selling-dildos">
          <img class="lazy" data-src="{{ '../assets/images/best-selling-toys-dildos.jpg' | asset_url }}">
        </a>
      </li>
      <li>
        <a href="https://www.simplipleasure.com/collections/best-selling-anal-sex-toys">
          <img class="lazy" data-src="{{ '../assets/images/best-selling-toys-anal-sex-toys.jpg' | asset_url }}">
        </a>
      </li>
    </ul>


    <hr class="home">

    <h2 class="newhome">Save 40% On Our Finest Sexy Lingerie - Limited Time!</h2>
    <p>Choose from over 500 sexy styles in our growing lingerie collection - make every night a night to remember!</p>

    <ul class="mobile-fblock-grid-2 tablet-fblock-grid-3">
      <li>
        <a href="https://simplipleasure.com/collections/sexy-lingerie-costumes"><img class="lazy" data-src="{{ '../assets/images/sexy-costumes-and-outfits.jpg' | asset_url }}"></a>
      </li>
      <li>
        <a href="https://simplipleasure.com/collections/sexy-lingerie-stockings"><img class="lazy" data-src="{{ '../assets/images/stokings-and-hosiery.jpg' | asset_url }}"></a>
      </li>
      <li>
        <a href="https://simplipleasure.com/collections/sexy-lingerie-plus"><img class="lazy" data-src="{{ '../assets/images/sexy-plus-size-lingerie.jpg' | asset_url }}"></a>
      </li>
      <li>
        <a href="https://simplipleasure.com/collections/sexy-lingerie-sets"><img class="lazy" data-src="{{ '../assets/images/sexy-lingerie-and-sets.jpg' | asset_url }}"></a>
      </li>
      <li>
        <a href="https://simplipleasure.com/collections/sexy-lingerie-bras"><img class="lazy" data-src="{{ '../assets/images/bras-and-bra-sets.jpg' | asset_url }}"></a>
      </li>
      <li>
        <a href="https://simplipleasure.com/collections/sexy-lingerie-panties"><img class="lazy" data-src="{{ '../assets/images/sexy-panties.jpg' | asset_url }}"></a>
      </li>
    </ul>

    <hr class="home">

    <h2 class="newhome">Choose From The Most Respected Adult Toy Brands of 2017:</h2>
    <p>We stock all the most popular brands on the market.  We are proud to have one of the biggest selection of products online; all available at an unbeatable price. Choose from <a href="/collections/lelo">LELO</a>, <a href="/collections/jimmyjane">Jimmyjane</a>, <a href="/collections/we-vibe">We-Vibe</a> and so many more!</p>

    <ul class="vendor-list mobile-fblock-grid-2 tablet-fblock-grid-4">
      <li>
        <a href="/collections/lelo"><img class="lazy" data-src="{{ collections.lelo | img_url: 'medium' }}" class="brand-icon" alt="Lelo"/></a>
      </li>
      <li>
        <a href="/collections/jimmyjane"><img class="lazy" data-src="{{ collections.jimmyjane | img_url: 'medium' }}" class="brand-icon" alt="{{ collections.jimmyjane.title | escape }}"/></a>
      </li>
      <li>
        <a href="/collections/we-vibe"><img class="lazy" data-src="{{ collections.we-vibe | img_url: 'medium' }}" class="brand-icon" alt="{{ collections.we-vibe.title | escape }}"/></a>
      </li>
      <li>
        <a href="/collections/tantus"><img class="lazy" data-src="{{ collections.tantus | img_url: 'medium' }}" class="brand-icon" alt="{{ collections.tantus.title | escape }}"/></a>
      </li>
    </ul>

    <hr class="home" style="border:none!important">
  </div>

  <hr class="home">

  <h2 style="text-align:center;color:#cc3366;margin-top:20px;">Our Customers Love Us...</h2>

  <div class="trustpilot-widget">
    <iframe width="100%" height="500" style="position: relative; height: 500px; width: 100%; border-style: none; display: block; overflow: hidden;" scrolling="no" title="Customer reviews powered by Trustpilot" src="https://widget.trustpilot.com/trustboxes/539ad60defb9600b94d7df2c/index.html?locale=en-US&templateId=539ad60defb9600b94d7df2c&businessunitId=57f40a130000ff0005959650&styleHeight=500px&styleWidth=100%25&stars=4%2C5" frameborder="0"></iframe>
  </div>

</div>
