<!-- templates/product.liquid -->

{% assign variant = product.selected_or_first_available_variant %}

{% assign my_description = product.description | split: '<!-- split -->' %}
{% assign my_description2 = product.description | split: '</p>' %}

<div class="product-container">
  <a id="top"></a>

  <div class="sixteen columns desktop-extend" id="product-{{ product.id }}" itemscope itemtype="http://schema.org/Product">
    <div class="section product_section clearfix">
      <div align="center">

        <div id="product_mobile">
          <h1 itemprop="name" class="product_name" itemprop="name">{{ product.title }}</h1>
          <p celass="vendor">
            <span itemprop="brand">by <a href="{{shop.url}}/collections/{{product.vendor | handleize }}">{{product.vendor}}</a></span>
          </p>
        </div>


        <div class="hide-for-desktop">
          {% include 'product-top-review-link' %}
        </div>

      </div>

      <div class="eight columns alpha desktop-extend">

        {% include 'product-images' %}

        <div class="hide-for-desktop" style="margin-top:8px;">
          <div align="center">

            <p class="modal_price">
              <span class="price" content="{{ product.price | money_without_currency }}">
                <span class="current_price">
                  {% if product.available %}
                    {% include 'shappify-qb-min-price' with product %}
                  {% else %}
                    Sorry, This Item Is Currently Unavailable <hr>
                  {% endif %}
                </span>
                <span class="was_price">
                  {{ product.compare_at_price | money }}
                  {% if product.compare_at_price > product.price and product.available %}
                    <p class="vid">
                      <strong>You Save:</strong> {{ product.compare_at_price_max  | minus: product.price | money }}
                      ({{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' }}%)
                    </p>
                  {% endif %}
                </span>
                {% if product.price > 5999 and product.available %} <span class="free_shipping">FREE Shipping</span> {% else %} {% endif %}
              </span>
            </p>

            <div class="hide-for-desktop">
              {% include 'product-form', product_form_identifier: 'mobile', is_main_product_form: true %}
              {% unless product.title contains "Mystery" %}
                {% include 'product-page-badges-guarantee-boxes' %}
              {% endunless %}
            </div>
          </div>
        </div>

      </div>

      <div class="eight columns omega">
        {% assign collection_handles = product.collections | map: 'handle' %}
        <div class="product__show-for-desktop">
          <h1 itemprop="name" class="product_name" itemprop="name">{{ product.title }}</h1>
          <p class="vendor">
            by <span itemprop="brand"><a href="{{shop.url}}/collections/{{product.vendor | handleize }}">{{product.vendor}}</a></span>
          </p>
        </div>

        <div class="product__show-for-desktop">
          {% include 'product-top-review-link' %}

          <hr>

          <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
            <meta itemprop="itemCondition" content="New" />

            <span class="sold_out">
              {% if variant.available == false %}
                Sorry, This Item Is Currently Unavailable <hr>
              {% endif %}
            </span>

            <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price">
                {% if variant.available %}
                  {% if variant.price > 0 %}
                    {{ variant.price | money }}
                  {% else %}
                    Free
                  {% endif %}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
                {{ variant.compare_at_price | money }}
              {% endif %}
            </span>

            {% if product.price > 5999 and product.available %}
              <span class="free-shipping-desk">&amp; FREE Shipping.</span>
            {% endif %}

          </p><!--END p.modal_price -->

          {% if product.compare_at_price > product.price and product.available %}
            <p class="vid">
              <strong>You Save:</strong>
              {{ product.compare_at_price_max  | minus: product.price | money }}
              ({{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' }}%)
            </p>
          {% endif %}

          <p></p>

          {% include 'product-form', product_form_identifier: 'desktop', is_main_product_form: true %}

          {% unless product.title contains "Mystery" %}
            {% include 'product-page-badges-guarantee-boxes' %}
          {% endunless %}

          {% if product.available %}
            <span class="prod-instock1">In Stock.</span>
          {% endif %}
        </div>

        {% if product.description contains '<!-- split -->' %}
          <div class="product__description product__description-first">
            {{ my_description[0] |  remove: '<h4>Product Description</h4>'  }}
          </div>
          <div class="product__description product__description-second">
            {{ my_description[2] }}
          </div>
        {% else %}
          <div class="product__description product__description-single">
            <strong>{{ my_description2[0] | remove: '<h4>Product Description</h4>' }}</strong>
          </div>
        {% endif %}

        <p class="readmore">
          <a href="#desc">Read More</a>
        </p>

        {% if product.available %}
          <div class="show-for-desktop">
            <hr />
          </div>
        {% endif %}

        <div align="center" style="padding-bottom:4px;">
          <img src="{{ '../assets/images/shop-with-confidence-security-badge.jpg' | asset_url }}" class="ri" width="90%">
        </div>

        <div style="text-align: center; padding-top:15px;">
          <div class="addedcontent sealswrapper">
            <div class="sealholder">
              <img src="{{ '../assets/images/protalus_checkout_seal_1.png' | asset_url }}" title="SECURE" class="checkoutseal">
            </div>

            <div class="sealholder">
              <img src="{{ '../assets/images/protalus_checkout_seal_2.png' | asset_url }}" title="SECURE" class="checkoutseal">
            </div>

            <div class="sealholder">
              <img src="{{ '../assets/images/protalus_checkout_seal_3.png' | asset_url }}" title="SECURE" class="checkoutseal">
            </div>
          </div>
          <p></p>
          <p></p>
          <p>
            Order over the phone: <a href="tel:+18009186308"><b> Call 1-800-918-6308</b></a>
            <span style="display:block;">  Product #: <b>{{ product.variants.first.sku }}</b></span>
          </p>
        </div>
      </div>

      {% include "social-buttons" with "product" %}

    </div>

    {% include 'product-page-bundle' %}

    {% include 'product-tabs' %}


  </div>


  <div class="sixteen columns desktop-extend">
    {% include 'product-page-guides' %}
    {% include 'product-page-links' %}
  </div>

  <h4 style="margin-bottom:5px">What Our Customers Think Of {{ product.title }}...</h4>

  <div id="stamped-main-widget" class="stamped-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}">
      {{ product.metafields.stamped.reviews }}
  </div>
</div> <!-- END: product-container -->

{% include 'cart-interstitial' %}

<p align="center"><a style="text-decoration:underline" href="#top"><span>Back To Top</span></a></p>

{% include 'cart-banner' %}

<script text="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);

  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<!-- END templates/product.bottom.liquid -->
