<div class="sidebar four columns">
   <h4 class="toggle"><span>+</span>Learn About Us</h4>
  <ul class="blog_list toggle_list">
      {% for link in linklists.about-us.links %}
        <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ 

link.title }}</a>
          
          {% if linklists[link.handle] != empty %}
            {% assign display_sublinks = false %}
          
            {% for link in linklists[link.handle].links %}
              {% if link.active %}
                {% assign display_sublinks = true %}
              {% endif %}
            {% endfor %}

            {% if display_sublinks or link.active %}
              <ul>
              {% for link in linklists[link.handle].links %}
                <li>
                  <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ 

link.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  <h4 class="toggle"><span>+</span>Important Info</h4>
  <ul class="blog_list toggle_list">
      {% for link in linklists.top.links %}
        <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ 

link.title }}</a>
          
          {% if linklists[link.handle] != empty %}
            {% assign display_sublinks = false %}
          
            {% for link in linklists[link.handle].links %}
              {% if link.active %}
                {% assign display_sublinks = true %}
              {% endif %}
            {% endfor %}

            {% if display_sublinks or link.active %}
              <ul>
              {% for link in linklists[link.handle].links %}
                <li>
                  <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ 

link.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  <h4 class="toggle"><span>+</span>Sex Toys</h4>
  <ul class="blog_list toggle_list">
      {% for link in linklists.fuck-you.links %}
        <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ 

link.title }}</a>
          
          {% if linklists[link.handle] != empty %}
            {% assign display_sublinks = false %}
          
            {% for link in linklists[link.handle].links %}
              {% if link.active %}
                {% assign display_sublinks = true %}
              {% endif %}
            {% endfor %}

            {% if display_sublinks or link.active %}
              <ul>
              {% for link in linklists[link.handle].links %}
                <li>
                  <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ 

link.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>



  

    </div>
    
 

